*/node_modules/*
*/dist/*
*/coverage/*
*/.vscode/*
*/.idea/*
*/.DS_Store
*/.env
*/.env.local
*/.env.development
*/.env.test
*/.env.production
*/.env.staging
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
*/.env.staging.local
*/.cache
*/.eslintcache
*/.parcel-cache
*/.yarn
*/.DS_Store
.DS_Store
yarn.lock
package-lock.json
*/uploads/*
*/build/*